<template>
  <div>
    <Breadcrumb :params="{ mainTitle: '系统管理', title: '数据战报' }" />
    <div class="content">
      <el-card class="box-card" header="销售情况">
        <div id="bar" :style="{ width: '100%', height: '500px' }"></div>
      </el-card>
      <el-card class="box-card" header="某网站访问量">
        <div id="pie" :style="{ width: '100%', height: '500px' }"></div>
      </el-card>
      <el-card class="box-card" header="某网站访问量">
        <div id="line" :style="{ width: '100%', height: '500px' }"></div>
      </el-card>
    </div>
  </div>
</template>

<script>
import Breadcrumb from "@/components/Breadcrumb";

export default {
  name: "DataReport",
  components: {
    Breadcrumb
  },
  data() {
    return {};
  },
  methods: {
    drawBar() {
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById("bar"));
      // 绘制图表
      myChart.setOption({
        title: {},
        tooltip: {},
        xAxis: {
          data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
        },
        yAxis: {},
        series: [
          {
            name: "销量",
            type: "bar",
            data: [5, 20, 36, 10, 10, 20]
          }
        ]
      });
    },
    drawLine() {
      let myChart = this.$echarts.init(document.getElementById("line"));
      myChart.setOption({
        title: {},
        tooltip: {
          trigger: "axis"
        },
        legend: {
          data: ["浏览器搜索", "直接访问", "用户分享", "广告推广", "自费推广"]
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
        },
        yAxis: {
          type: "value"
        },
        series: [
          {
            name: "自费推广",
            type: "line",
            stack: "Total",
            data: [120, 132, 101, 134, 90, 230, 210]
          },
          {
            name: "用户分享",
            type: "line",
            stack: "Total",
            data: [220, 182, 191, 234, 290, 330, 310]
          },
          {
            name: "广告推广",
            type: "line",
            stack: "Total",
            data: [150, 232, 201, 154, 190, 330, 410]
          },
          {
            name: "直接访问",
            type: "line",
            stack: "Total",
            data: [320, 332, 301, 334, 390, 330, 320]
          },
          {
            name: "浏览器搜索",
            type: "line",
            stack: "Total",
            data: [820, 932, 901, 934, 1290, 1330, 1320]
          }
        ]
      });
    },
    drawPie() {
      let myChart = this.$echarts.init(document.getElementById("pie"));
      myChart.setOption({
        title: {},
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        series: [
          {
            name: "访问类型",
            type: "pie",
            data: [
              { value: 1048, name: "浏览器搜索" },
              { value: 735, name: "直接访问" },
              { value: 580, name: "用户分享" },
              { value: 484, name: "广告推广" },
              { value: 300, name: "自费推广" }
            ]
          }
        ],
        legend: {
          data: ["浏览器搜索", "直接访问", "用户分享", "广告推广", "自费推广"]
        }
      });
    }
  },
  mounted() {
    this.drawBar();
    this.drawPie();
    this.drawLine();
  }
};
</script>

<style scoped>
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-card {
  width: 540px;
  margin-bottom: 20px;
}
.box-card:nth-child(3) {
  width: 1000px;
}
</style>
