<template>
  <div>
    <Breadcrumb :params="{ mainTitle: '系统管理', title: '图标管理' }" />
    <div class="iconContent">
      <div class="iconBox" v-for="item in iconList" :key="item.dictId">
        <div>
          <i :class="[item.dictCode, 'myIcon']"></i>
          <span class="iconSpan">{{ item.dictCode }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumb from "@/components/Breadcrumb";
import { iconList } from "@/common/data";
export default {
  name: "IconManage",
  components: {
    Breadcrumb
  },
  data() {
    return {
      iconList: iconList
    };
  }
};
</script>

<style scoped>
.iconContent {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.iconBox {
  width: 19%;
  height: 100px;
  text-align: center;
  /* border: 1px solid #000; */
}
.iconBox:hover {
  color: #70b2f8;
}
.myIcon {
  display: block;
  margin: 15px 0;
  font-size: 30px;
  /* border: 1px solid red; */
}
</style>
