<template>
  <div>
    <el-result icon="warning" title="404 Not Found" subTitle="抱歉！找不到页面">
      <template slot="extra"></template>
    </el-result>
  </div>
</template>

<script>
export default {
  name: "notFind"
};
</script>

<style></style>
