<template>
  <div class="home">
    <el-container class="homeContent">
      <el-header>
        XX管理系统
        <div class="logoutBtn">
          <span class="mr15 fs12">{{ weather !== "" ? "杭州" + weather : "未获取到天气" }}</span>
          <span class="mr15">
            <i class="el-icon-user"></i>
            {{ user.name || "昵称" }}
          </span>
          <el-popconfirm title="确定要退出么？" @confirm="logout">
            <el-button slot="reference" type="text">注销</el-button>
          </el-popconfirm>
        </div>
      </el-header>
      <el-container class="mt20">
        <el-aside width="205px" class="mr20">
          <LeftMenu :menus="menus" />
        </el-aside>
        <el-main class="mr20"><router-view></router-view></el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import { getUserList, delUser } from "@/apis/test.js";
import LeftMenu from "@/components/LeftMenu";
import { reqWeather, formateDate } from "@/common/tools";
import { menuList } from "@/common/data";

export default {
  name: "Home",
  components: {
    LeftMenu
  },
  data() {
    return {
      user: JSON.parse(localStorage.getItem("userInfo")),
      menus: JSON.parse(localStorage.getItem("menuList")) || [],
      test: null,
      weather: ""
    };
  },
  methods: {
    logout() {
      localStorage.removeItem("isLogin");
      localStorage.removeItem("userInfo");
      localStorage.removeItem("menuList");
      this.$message.success("退出成功 ");
      this.$router.push("/login");
    }
  },
  created() {
    let isLogin = localStorage.getItem("isLogin");
    if (isLogin !== "true") {
      this.$router.push("/login");
    }
  },
  mounted() {
    reqWeather("浙江省", "杭州市").then(data => {
      this.weather = data || "";
    });
  }
};
</script>
<style>
.home {
  height: 100vh;
  min-width: 1200px;
}
.homeContent {
  height: 100%;
}
.el-container {
  background-color: #e9ecef;
}
.el-header {
  position: relative;
  background-color: #1b2025;
  color: #a9b0c6;
  text-align: center;
  line-height: 60px;
}
.el-footer {
  background-color: #b3c0d1;
  color: #333;
  text-align: center;
  line-height: 40px;
}
.el-aside {
  background-color: #d3dce6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #fff;
}
.logoutBtn {
  position: absolute;
  top: 0px;
  right: 20px;
}
.menu {
  height: 100%;
  text-align: left;
}
</style>
