<template>
  <div>
    <Breadcrumb :params="{ mainTitle: '首页' }" />
    <div class="content">
      <h2 class="mb10">技术栈</h2>
      <el-collapse accordion>
        <el-collapse-item title="前端Vue" name="1">
          <p>
            Vue 是一套用于构建用户界面的渐进式框架。与其它大型框架不同的是，Vue 被设计为可以自底向上逐层应用。Vue
            的核心库只关注视图层，不仅易于上手，还便于与第三方库或既有项目整合。
          </p>
          <p>另一方面，当与现代化的工具链以及各种支持类库结合使用时，Vue 也完全能够为复杂的单页应用提供驱动。</p>
        </el-collapse-item>
        <el-collapse-item title="后端NodeJS" name="2">
          <p>Node.js 是一个开源和跨平台的 JavaScript 运行时环境。 它几乎是任何类型项目的流行工具！</p>
          <p>Node.js 在浏览器之外运行 V8 JavaScript 引擎（Google Chrome 的内核）。 这使得 Node.js 的性能非常好。</p>
          <p>
            Node.js 应用程序在单个进程中运行，无需为每个请求创建新的线程。 Node.js 在其标准库中提供了一组异步的 I/O 原语，以防止 JavaScript
            代码阻塞，通常，Node.js 中的库是使用非阻塞范式编写的，使得阻塞行为成为异常而不是常态。
          </p>
        </el-collapse-item>
        <el-collapse-item title="数据库 Mongodb" name="3">
          <p>MongoDB是一个基于分布式文件存储的数据库。由C++语言编写。旨在为WEB应用提供可扩展的高性能数据存储解决方案。</p>
          <p>
            MongoDB是一个介于关系数据库和非关系数据库之间的产品，是非关系数据库当中功能最丰富，最像关系数据库的。它支持的数据结构非常松散，是类似json的bson格式，因此可以存储比较复杂的数据类型。
          </p>
          <p>
            Mongo最大的特点是它支持的查询语言非常强大，其语法有点类似于面向对象的查询语言，几乎可以实现类似关系数据库单表查询的绝大部分功能，而且还支持对数据建立索引。
          </p>
        </el-collapse-item>
      </el-collapse>
      <!-- <div class="sentence">
        <div class="hitokoto">{{ hitokoto }}</div>
        <div class="from">《{{ from }}》</div>
      </div> -->
    </div>
  </div>
</template>

<script>
import Breadcrumb from "@/components/Breadcrumb";

export default {
  name: "Index",
  data() {
    return {
      hitokoto: "",
      from: ""
    };
  },
  components: {
    Breadcrumb
  },
  methods: {},
  mounted() {}
};
</script>

<style scoped>
/* .content {
  min-height: 82vh;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
} */
.sentence {
  width: 55%;
  margin: 100px auto 0;
  /* border: 1px solid black; */
}
.from {
  text-align: right;
}
</style>
