<template>
  <div class="container">
    <div class="form-warp">
      <form class="sign-in-form">
        <div class="sentence" style="color: #6c757d">
          <div class="hitokoto">{{ hitokoto }}</div>
          <div class="from">《{{ from }}》</div>
        </div>
        <h2 class="form-title">登录</h2>
        <input placeholder="用户名" v-model="loginForm.username" />
        <input type="password" placeholder="密码" v-model="loginForm.password" />
        <div class="submit-btn" @click="login">立即登录</div>
      </form>
      <form class="sign-up-form">
        <h2 class="form-title">注册</h2>
        <input placeholder="用户名" v-model="registerForm.username" />
        <input placeholder="用户昵称" v-model="registerForm.name" />
        <input placeholder="电话号码" v-model="registerForm.tel" />
        <input type="password" placeholder="密码" v-model="registerForm.password" />
        <input type="password" placeholder="确认密码" v-model="registerForm.passwordConfirm" />
        <div class="submit-btn" @click="register">立即注册</div>
      </form>
    </div>
    <div class="desc-warp">
      <div class="desc-warp-item sign-up-desc">
        <div class="content">
          <button id="sign-up-btn" @click="addClass">注册</button>
        </div>
        <img src="@/assets/log.svg" alt="" />
      </div>
      <div class="desc-warp-item sign-in-desc">
        <div class="content">
          <button id="sign-in-btn" @click="removeClass">登录</button>
        </div>
        <img src="@/assets/register.svg" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
import { login, addUser } from "@/apis/user";
import { getAuth } from "@/apis/auth";
import { reqWeather, formateDate, dailySentence } from "@/common/tools";

export default {
  name: "Login",
  data() {
    return {
      loginForm: {
        username: "zhangsan",
        password: "12345678"
      },
      registerForm: {
        username: "",
        password: "",
        passwordConfirm: "",
        name: "",
        tel: ""
      },
      hitokoto: "",
      from: "",
      sentenceVisible: true
    };
  },
  methods: {
    addClass() {
      document.querySelector(".container").classList.add("sign-up-mode");
    },
    removeClass() {
      document.querySelector(".container").classList.remove("sign-up-mode");
    },
    login() {
      if (this.loginForm.username.trim() === "") {
        this.$message({
          message: "请填写用户名",
          type: "warning"
        });
        return;
      }
      if (this.loginForm.password.trim() === "") {
        this.$message({
          message: "请填写密码",
          type: "warning"
        });
        return;
      }
      const loading = this.$loading({
        lock: true,
        text: "Loading",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });

      // 登录业务
      login(this.loginForm)
        .then(res => {
          if (res.success) {
            this.$message({ message: "登录成功", type: "success" });
            localStorage.setItem("isLogin", "true");
            localStorage.setItem("userInfo", JSON.stringify(res.data));
            // 获取用户权限
            getAuth({ role: res.data.role })
              .then(res => {
                localStorage.setItem("menuList", JSON.stringify(res.data));
                this.$router.push("/");
              })
              .catch(err => {
                this.$message.error(err.message);
              });
          } else {
            this.$message({ message: res.message, type: "warning" });
          }
          loading.close();
        })
        .catch(err => {
          this.$message.error(err.message);
          loading.close();
        });
    },
    register() {
      let { username, password, passwordConfirm, name } = this.registerForm;
      if (!this.messageWran(username, "请填写用户名")) {
        return;
      }
      if (!this.messageWran(name, "请填写用户昵称")) {
        return;
      }
      if (!this.messageWran(password, "请填写密码")) {
        return;
      }
      if (!this.messageWran(passwordConfirm, "请填写确认密码")) {
        return;
      }
      if (password !== passwordConfirm) {
        this.messageWran("", "两次输入的密码不一致");
        return;
      }
      const loading = this.$loading({
        lock: true,
        text: "Loading",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      // 注册业务
      addUser(this.registerForm)
        .then(res => {
          if (res.success) {
            this.$message.success("注册成功，请回到登录页面进行登录");
          } else {
            this.$message.error(res.message);
          }
          loading.close();
        })
        .catch(err => {
          this.$message.error(err.message);
          loading.close();
        });
      console.log(this.registerForm);
    },
    messageWran(value = "", message) {
      if (value.trim() === "") {
        this.$message({
          message,
          type: "warning"
        });
        return false;
      } else if (value.trim().length < 6) {
        this.$message({
          message: "用户名和密码长度不能少于6位",
          type: "warning"
        });
        return false;
      }
      return true;
    }
  },
  mounted() {
    dailySentence().then(data => {
      this.hitokoto = data.hitokoto;
      this.from = data.from;
    });
  }
};
</script>

<style scoped>
* {
  box-sizing: border-box;
  /* color: #333; */
}
.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.container::before {
  content: " ";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background-image: linear-gradient(-45deg, #6266f5 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  z-index: 6;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
}
.container.sign-up-mode::before {
  transform: translate(100%, -50%);
}

.form-warp {
  width: 50%;
  position: absolute;
  z-index: 5;
  left: 75%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  transition: 1s 0.7s ease-in-out;
}
.form-warp form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  transition: all 0.2s 0.7s;
  opacity: 1;
  z-index: 4;
}
.form-title {
  color: #6266f5;
}
.form-warp .sign-up-form {
  opacity: 0;
  z-index: 3;
}
.container.sign-up-mode .form-warp {
  left: 25%;
}
.container.sign-up-mode .sign-in-form {
  opacity: 0;
  z-index: 3;
}
.container.sign-up-mode .sign-up-form {
  opacity: 1;
  z-index: 4;
}
.sign-up-form {
  /* 要是注册表格的信息太多了，可以把bottom的值调大一点 */
  position: relative;
  bottom: 100px;
}
input,
.submit-btn {
  min-width: 300px;
  outline: none;
  padding: 12px 30px;
  line-height: 1;
  font-size: 16px;
  border-radius: 60px;
  color: #333;
  background-color: #6267f513;
  border: none;
}
input::placeholder {
  color: #cccc;
}
.submit-btn {
  background-color: #6266f5;
  color: #fff;
  text-align: center;
  min-width: 150px;
  font-size: initial;
  font-weight: bold;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.desc-warp {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.desc-warp-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  text-align: center;
  padding: 3rem 17% 2rem 12%;
  z-index: 6;
}
.sign-in-desc {
  pointer-events: none;
}
.sign-up-mode .sign-in-desc {
  pointer-events: all;
}
.sign-up-mode .sign-up-desc {
  pointer-events: none;
}
.content {
  width: 100%;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}
.sign-in-desc img,
.sign-in-desc .content {
  transform: translateX(800px);
}
.sign-up-mode .sign-in-desc img,
.sign-up-mode .sign-in-desc .content {
  transform: translateX(0);
}

.sign-up-mode .sign-up-desc img,
.sign-up-mode .sign-up-desc .content {
  transform: translateX(-800px);
}

button {
  outline: none;
  padding: 6px 8px;
  min-width: 100px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:active {
  background: rgba(255, 255, 255, 0.1);
}
img {
  width: 100%;
  display: block;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.5s;
}

@media screen and (max-width: 870px) {
  .container::before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
  .container.sign-up-mode::before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
  .form-warp {
    width: 100%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
  .container.sign-up-mode .form-warp {
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  img {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.7s;
  }
  .desc-warp {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .desc-warp-item {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }
  .sign-in-desc {
    grid-row: 3 / 4;
  }

  .sign-in-desc img,
  .sign-in-desc .content {
    transform: translateY(800px);
  }

  .sign-up-mode .sign-in-desc img,
  .sign-up-mode .sign-in-desc .content {
    transform: translateY(0);
  }

  .sign-up-mode .sign-up-desc img,
  .sign-up-mode .sign-up-desc .content {
    transform: translateY(-800px);
  }
}

@media screen and (max-width: 570px) {
  .container::before {
    bottom: 72%;
    left: 50%;
  }
  img {
    display: none;
  }
}
.sentence {
  width: 50%;
  color: #6c757d !important;
}
.from {
  margin-top: 20px;
  text-align: right;
}
</style>
