<template>
  <div>
    <el-breadcrumb separator="/">
      <el-breadcrumb-item>{{ params.mainTitle }}</el-breadcrumb-item>
      <el-breadcrumb-item v-if="params.title">{{ params.title }}</el-breadcrumb-item>
    </el-breadcrumb>
    <el-divider></el-divider>
  </div>
</template>

<script>
/*
	<Breadcrumb :params="{ mainTitle: '首页', title: '测试' }" />
*/
export default {
  name: "Breadcrumb",
  props: {
    params: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  data() {
    return {};
  }
};
</script>

<style></style>
