<template>
  <el-menu :default-active="$route.path" router class="el-menu-vertical-demo menu" background-color="#fff">
    <div v-for="(item, index) in menus" :key="index">
      <el-menu-item v-if="!item.children || item.children.length === 0" :index="item.url">
        <template slot="title">
          <i :class="item.icon"></i>
          <span>{{ item.title }}</span>
        </template>
      </el-menu-item>
      <el-submenu v-else :index="item.url">
        <template slot="title">
          <i :class="item.icon"></i>
          <span>{{ item.title }}</span>
        </template>
        <el-menu-item v-for="(child, i) in item.children" :key="i" :index="child.url">
          <template slot="title">
            <i :class="child.icon"></i>
            <span>{{ child.title }}</span>
          </template>
        </el-menu-item>
      </el-submenu>
    </div>
  </el-menu>
</template>

<script>
/*
	<LeftMenu :menus="menus" />
*/
export default {
  name: "LeftMenu",
  props: {
    menus: {
      type: Array,
      // 引用数据要用函数形式返回，原因：参照 vue 中的 data 返回是一个函数
      default: () => {
        return [];
      }
    }
  },
  data() {
    return {};
  },
  methods: {}
};
</script>

<style>
.el-menu-item:hover {
  background: rgba(64, 158, 255, 0.2) !important;
}
.el-submenu__title:hover {
  background: rgba(64, 158, 255, 0.2) !important;
}
</style>
