<template>
  <div id="app">
    <router-view />
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<!-- @ is an alias to /src -->
<style>
* {
  margin: 0;
  padding: 0;
}

.ml5 {
  margin-left: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.mr5 {
  margin-right: 5px;
}
.ml10 {
  margin-left: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mr10 {
  margin-right: 10px;
}
.p10 {
  padding: 10px;
}
.ml15 {
  margin-left: 15px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.mr15 {
  margin-right: 15px;
}
.ml20 {
  margin-left: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.m20 {
  margin: 20px;
}
.p20 {
  padding: 20px;
}
.p24 {
  padding: 24px;
}
.pl20 {
  padding-left: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pt40 {
  padding-top: 40px;
}
.pr20 {
  padding-right: 20px;
}
.p30 {
  padding: 30px;
}
.pl30 {
  padding-left: 30px;
}
.ml25 {
  margin-left: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.mt25 {
  margin-top: 25px;
}
.mr25 {
  margin-right: 25px;
}

.ml30 {
  margin-left: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.mt30 {
  margin-top: 30px;
}
.mr30 {
  margin-right: 30px;
}
.ml40 {
  margin-left: 40px;
}
.mb40 {
  margin-bottom: 40px;
}
.mt40 {
  margin-top: 40px;
}
.mr40 {
  margin-right: 40px;
}
.ml50 {
  margin-left: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.mt50 {
  margin-top: 50px;
}
.mr50 {
  margin-right: 50px;
}
.ml60 {
  margin-left: 60px;
}
.mb60 {
  margin-bottom: 60px;
}
.mt60 {
  margin-top: 60px;
}
.mr60 {
  margin-right: 60px;
}
.ml70 {
  margin-left: 70px;
}
.ml170 {
  margin-left: 170px;
}
/* 字号 */
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs28 {
  font-size: 28px;
}
.fs30 {
  font-size: 30px;
}
.fs32 {
  font-size: 32px;
}
.fs36 {
  font-size: 36px;
}
.fs40 {
  font-size: 40px;
}
.fs46 {
  font-size: 46px;
}
.fs48 {
  font-size: 48px;
}
.cuPointer {
  cursor: pointer;
}
.gray-b {
  color: #a0a3a6;
}
.fc-white {
  color: #ffffff;
}
.fc-red {
  color: #d82937;
}
.fc-gray {
  color: #999999;
}
.fc-dgray {
  color: #333333;
}
.fc-lgray {
  color: #666666;
}
.fc-black {
  color: #000000;
}
.fc-orange {
  color: #ff6018;
}
.fc-grayD8 {
  color: #d8d8d8;
}
.fwBold {
  font-weight: bold;
}
.point {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
</style>
