<template>
  <div>
    <Breadcrumb :params="{ mainTitle: '权限管理', title: '接口管理' }" />
    欢迎定制
  </div>
</template>

<script>
import Breadcrumb from "@/components/Breadcrumb";

export default {
  name: "Api",
  components: {
    Breadcrumb
  }
};
</script>

<style></style>
