<template>
  <div>
    <Breadcrumb :params="{ mainTitle: '权限管理', title: '菜单管理' }" />
    <div>
      <el-table :data="menuList" :row-key="record => record.url + record.title">
        <el-table-column prop="title" label="标题"></el-table-column>
        <el-table-column prop="url" label="地址"></el-table-column>
        <el-table-column prop="icon" label="图标">
          <template slot-scope="record">
            <i :class="record.row.icon"></i>
          </template>
        </el-table-column>
        <el-table-column prop="level" label="菜单层级">
          <template slot-scope="record">
            <el-tag v-if="record.row.level === 1" type="success">一级菜单</el-tag>
            <el-tag v-else-if="record.row.level === 2">二级菜单</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <el-button type="primary" size="small" @click="noAuth">编辑</el-button>
          <el-button type="danger" size="small" @click="noAuth">删除</el-button>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import Breadcrumb from "@/components/Breadcrumb";
import { menuList } from "@/common/data";

export default {
  name: "Menu",
  components: {
    Breadcrumb
  },
  data() {
    return {
      menuList: menuList
    };
  },
  methods: {
    noAuth() {
      this.$message({ message: "暂无权限，请联系管理员开放权限", type: "warning" });
    }
  },
  mounted() {}
};
</script>

<style></style>
