<template>
  <div>
    <Breadcrumb :params="{ mainTitle: '权限管理', title: '用户管理' }" />
    <div>
      <div class="addUser">
        <el-button type="primary" @click="addVisible = true">新增用户</el-button>
      </div>
      <el-table :data="userList" style="width: 100%" v-loading="loading">
        <el-table-column label="用户昵称" prop="name"></el-table-column>
        <el-table-column label="用户性别" prop="sex"></el-table-column>
        <el-table-column label="用户年龄" prop="age"></el-table-column>
        <el-table-column label="联系电话" prop="tel"></el-table-column>
        <el-table-column label="用户权限" prop="status">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.role === 'admin'" type="success">管理员</el-tag>
            <el-tag v-else-if="scope.row.role === 'user'">普通用户</el-tag>
            <el-tag v-else type="warning">暂无权限</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="状态" prop="status">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.status === 1" type="success">正常</el-tag>
            <el-tag v-else type="warning">未知</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="primary" size="small" @click="editUser(scope.row)">编辑</el-button>
            <el-popconfirm class="ml20" :title="`确定删除${scope.row.name}么？`" @confirm="delUser(scope.row.username)">
              <el-button slot="reference" type="danger" size="small">删除</el-button>
            </el-popconfirm>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!--  修改信息 -->
    <el-dialog title="修改信息" :visible.sync="editVisible">
      <el-form :model="curUser" style="width: 360px">
        <el-form-item label="昵称" :label-width="formLabelWidth">
          <el-input v-model="curUser.name"></el-input>
        </el-form-item>
        <el-form-item label="性别" :label-width="formLabelWidth">
          <el-select v-model="curUser.sex" placeholder="请选择性别">
            <el-option label="男" value="男"></el-option>
            <el-option label="女" value="女"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="年龄" :label-width="formLabelWidth">
          <el-input v-model="curUser.age"></el-input>
        </el-form-item>
        <el-form-item label="联系电话" :label-width="formLabelWidth">
          <el-input v-model="curUser.tel"></el-input>
        </el-form-item>
        <el-form-item label="状态" :label-width="formLabelWidth">
          <el-tag v-if="curUser.status === 1" type="success">正常</el-tag>
          <el-tag v-else type="warning">未知</el-tag>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="confirmChange">确 定</el-button>
      </div>
    </el-dialog>
    <!--  新增用户 -->
    <el-dialog title="新增用户" :visible.sync="addVisible">
      <el-form :model="curUser" :rules="rules" style="width: 400px">
        <el-form-item label="用户名" prop="username" :label-width="formLabelWidth">
          <el-input v-model="curUser.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password" :label-width="formLabelWidth">
          <el-input v-model="curUser.password" show-password></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="passwordConfirm" :label-width="formLabelWidth">
          <el-input v-model="curUser.passwordConfirm" show-password></el-input>
        </el-form-item>
        <el-form-item label="昵称" prop="name" :label-width="formLabelWidth">
          <el-input v-model="curUser.name"></el-input>
        </el-form-item>
        <el-form-item label="性别" :label-width="formLabelWidth">
          <el-select v-model="curUser.sex" placeholder="请选择性别">
            <el-option label="男" value="男"></el-option>
            <el-option label="女" value="女"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="年龄" :label-width="formLabelWidth">
          <el-input v-model="curUser.age"></el-input>
        </el-form-item>
        <el-form-item label="联系电话" :label-width="formLabelWidth">
          <el-input v-model="curUser.tel"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="confirmAdd">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getUserList, updateUser, addUser, delUser } from "@/apis/user";
import Breadcrumb from "@/components/Breadcrumb";

export default {
  name: "Role",
  components: {
    Breadcrumb
  },
  data() {
    var validatorPass = (rule, value, callback) => {
      if ([null, undefined, ""].includes(value)) {
        callback(new Error("请再次输入密码"));
      } else if (value !== this.curUser.password) {
        callback(new Error("两次输入密码不一致!"));
      } else {
        callback();
      }
    };
    return {
      loading: true,
      userList: [],
      editVisible: false,
      addVisible: false,
      curUser: {},
      formLabelWidth: "120px",
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { min: 7, message: "用户名不能少于6位", trigger: "blur" }
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          { min: 7, message: "密码不能少于6位", trigger: "blur" }
        ],
        name: [{ required: true, message: "请输入昵称", trigger: "blur" }],
        passwordConfirm: [
          { required: true, message: "请再次输入密码", trigger: "blur" },
          { validator: validatorPass, trigger: "blur" }
        ]
      }
    };
  },
  methods: {
    getUserList() {
      getUserList()
        .then(res => {
          this.userList = res.data;
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
    editUser(user) {
      this.curUser = { ...user };
      this.editVisible = true;
    },
    confirmChange() {
      this.editVisible = false;

      const loading = this.$loading({
        lock: true,
        text: "Loading",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });

      updateUser(this.curUser)
        .then(res => {
          if (res.success) {
            this.getUserList();
            this.$message({ message: "修改成功", type: "success" });
          } else {
            this.$message({ message: "修改失败", type: "error" });
          }
          loading.close();
        })
        .catch(err => {
          console.log(err);
          loading.close();
        });
      this.curUser = {};
      // console.log(this.curUser);
    },
    confirmAdd() {
      this.addVisible = false;

      const loading = this.$loading({
        lock: true,
        text: "Loading",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });

      addUser(this.curUser)
        .then(res => {
          if (res.success) {
            this.getUserList();
            this.$message({ message: "新增用户成功", type: "success" });
          } else {
            this.$message({ message: res.message, type: "error" });
          }
          loading.close();
        })
        .catch(err => {
          this.$message({ message: err, type: "error" });
          loading.close();
        });
      this.curUser = {};
    },
    delUser(username) {
      let { username: loginUsername } = JSON.parse(localStorage.getItem("userInfo"));
      if (loginUsername === username) {
        this.$message({ message: "无权限", type: "warning" });
        return;
      }
      const loading = this.$loading({
        lock: true,
        text: "Loading",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });

      delUser({ username })
        .then(res => {
          if (res.success) {
            this.getUserList();
            this.$message({ message: "删除用户成功", type: "success" });
          } else {
            this.$message({ message: res.message, type: "error" });
          }
          loading.close();
        })
        .catch(err => {
          this.$message({ message: err, type: "error" });
          loading.close();
        });
      this.curUser = {};
    }
  },
  mounted() {
    // 得到全部的用户
    this.getUserList();
  }
};
</script>

<style scoped>
.addUser {
  text-align: right;
  /* text-indent: 2rem; */
  /* border: 1px solid black; */
}
</style>
